extends ../layout/comon

block content
    .container
        .row
            .col-12.pt-5
                if errr
                    each errrs in errr
                        .alert.alert-danger=errrs

                form.form-group(action="/user/create", method="post")   
                    input.form-control.mb-3(type="text",name="name",value= values ? values.name : '')
                    input.form-control.mb-3(type="number",name="phone",value= values ? values.phone : '')
                    button.btn.btn-primary.ml-3 Save