extends ../layout/comon

block content
    .container
        .row
            each val in products
                .card.col-3.mt-3.p-0
                    img.card-img-top(src=val.image, alt='...')
                    .card-body
                        h5.card-title=val.name
                        
                        p.card-text=val.description
                        a.btn.btn-primary(href='cart/add/'+val.id) Add to cart
            

